.sidebar {
    background-color: var(--color-gray-0);
    padding: 8px;
    border-radius: 16px;
    max-width: 360px;
    width: 100%;
    height: max-content;
    z-index: 10;

    @media screen and (max-width: 900px) {
        max-width: 100%;
        width: 100%;
    }
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.sidebar-item.inactive strong {
    color: var(--text-secondary-low);
}

.sidebar-item-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sidebar-item.active {
    background-color: #184482;
}

.sidebar-drawer-content {
    padding-inline: 1rem;
}

.sidebar-item.active strong {
    color: var(--color-gray-0);
}

.sidebar-tablet-header {
    border-bottom: none;
    margin-bottom: 1.25rem;
}

.sidebar-overlay {
    background: var(--overlay-primary);
}

.sidebar-tablet-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 0.75rem;
    border: 1px solid var(--border-secondary);
}

.progress-icon {
    color: var(--button-primary);
}
