.wrap:hover {
    background-color: var(--surface-input-hover);
}

.icon {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    color: var(--icon-primary);
}

.search-wrap {
    padding: 0.25rem;
}

.search-wrap .input {
    --input-addon-spacing: 3rem;
    --input-addon-position: 0.9375rem;
}

.search-wrap .input :global(.input-inner) {
    padding-block: 0.6875rem;

}

.search-wrap .input .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    color: var(--icon-primary);
}

.flag {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;
}

.flag-wrap {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

.list,
.empty {
    transition: opacity 0.2s ease;
    flex: 1;
}

.list :global(.scroll-area-viewport) {
    padding: 0.125rem;
    padding-right: 0.375rem;
    max-height: 18.75rem;
}

.empty {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.trigger {
    --ring-offset-width: 0px;
    --ring-offset-shadow: var(--ring-inset) 0 0 0 calc(var(--ring-offset-width)) var(--ring-offset-color);
    --ring-shadow: var(--ring-inset) 0 0 0 calc(var(--ring-width) + var(--ring-offset-width)) var(--ring-color);


    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    align-self: stretch;
    background-color: var(--surface-input);
    border-radius: 0.75rem;
    border: 1px solid var(--border-primary);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    z-index: 5;
    padding: 0.9375rem 0.9375rem;
    cursor: pointer;
    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;


}

.trigger:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.trigger:hover,
.trigger[data-popup-open] {
    border-color: var(--border-primary-hover);
    background-color: var(--surface-input-hover);
}

.trigger[data-size="default"] {
    padding: 0.6875rem 0.75rem;
    border-radius: 0.75rem;
}

.trigger .flag,
.trigger .flag .icon.phone {
    width: 1.5rem;
    height: 1.5rem;
}

.trigger .icon.indicator {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    color: var(--icon-primary);
    transform: rotate(180deg);
    transition:
        transform 0.2s ease,
        color 0.2s ease;
}

.trigger[data-popup-open] .icon.indicator {
    color: var(--icon-primary);
    transform: rotate(0deg);
}

.inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.content {
    width: 18.75rem;
}

.separator line {
    stroke: var(--color-gray-500);
    stroke-width: 1;
}

.option .label {
    min-width: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .list :global(.scroll-area-viewport) {
        padding: var(--spacing-xs) var(--spacing-md);
    }

    .content {
        width: 100%;
        padding-bottom: var(--spacing-lg);
    }

    .content .line {
        position: absolute;
        left: 50%;
        bottom: var(--spacing-sm);
        transform: translateX(-50%);
        width: 7.5rem;
        height: 0.25rem;
        background-color: var(--color-gray-650);
        border-radius: var(--radius-full);
    }
}
