.root {
    background-color: var(--color-gray-0);
    padding: 8px;
    border-radius: 16px;
    max-width: 360px;
    width: 100%;
    height: max-content;
    z-index: 10;
}

@media screen and (max-width: 900px) {
    .root {
        max-width: 100%;
        width: 100%;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.item-description {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.active {
    background-color: #184482;
}

.active strong {
    color: var(--color-gray-0);
}

.inactive strong {
    color: var(--text-secondary-low);
}

/* Tablet / drawer related */
.drawer-content {
    padding-inline: 1rem;
}

.drawer-header {
    border-bottom: none;
    margin-bottom: 1.25rem;
}

.overlay {
    background: var(--overlay-primary);
}

.tablet-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 0.75rem;
    border: 1px solid var(--border-secondary);
}

.progress-icon {
    color: var(--icon-contrast);
}
